<article nz-typography>
<h1 nz-typography>Introduction</h1>
<p nz-typography>
Hi, a list of small projects built on top of the Angular front-end will be available on this subdomain.  While there isn't much to see here yet, a few apps are in the process of 'polishing' as you read this.
</p>
<p nz-typography>
I plan to utilize this site for feedback and easy access to any Angular modules I work on. There are also plans for other framework subdomains, which will happen depending on the performance of this one.
</p>

<p><span nz-typography>
    <strong>
        Mobile compatibility is currently minimal to non-existent. Adaptations will be made in the future.
    </strong>
</span></p>
<h2 nz-typography>Guidelines and Resources</h2>
<p nz-typography>
We supply a series of design principles, practical patterns and high quality design resources (<span nz-typography
    ><code>Sketch</code></span
>
and <span nz-typography><code>Axure</code></span
>), to help people create their product prototypes beautifully and efficiently.
</p>
<div nz-typography>
<ul>
    <li>
    <a href="/docs/spec/proximity">Principles</a>
    </li>
    <li>
    <a href="/docs/pattern/navigation">Patterns</a>
    </li>
    <li>
    <a href="/docs/resource/download">Resource Download</a>
    </li>
</ul>
</div>
<p nz-typography>
Press <span nz-typography><kbd>Esc</kbd></span> to exist...
</p>
</article>
<nz-divider></nz-divider>

