<article nz-typography>
  <h1 nz-typography>What is this ?</h1>
  <p nz-typography>
    A small list of projects built on top of the Angular front-end will be
    available on this subdomain. While there isn't much to see here yet, a few
    apps are in the process of 'polishing' as you read this.
  </p>
  <p nz-typography>
    I plan to utilize this site for feedback and easy access to any Angular
    modules I work on. There are also plans for other framework subdomains,
    which will happen depending on the performance of this one.
  </p>

  <p>
    <span nz-typography>
      <strong>
        Mobile compatibility is currently minimal to non-existent. Adaptations
        will be made in the future.
      </strong>
    </span>
  </p>
  <nz-divider></nz-divider>
</article>
<article nz-typography>
  <h1 nz-typography>Currently Available Apps:</h1>

  <article>
    <h2 nz-typography>Kana Study</h2>
    <p nz-typography>'Description Here'</p>
    <ul>
      <li>Alphabet Selection</li>
      <li>Completion Time Recording</li>
      <li>Results for Individual Answers & Overall Average</li>
    </ul>
  </article>
  <nz-divider></nz-divider>
  <article>
    <h2 nz-typography>Websocket Chat</h2>
    <p nz-typography>'Description Here'</p>
    <ul>
      <li>Node WS Library</li>
      <li>Profanity Filter</li>
      <li>Message History (Up to 10 Messages)</li>
    </ul>
  </article>
</article>
