<!-- Initial state & after game restart (configuration) -->
<article nz-typography *ngIf="state == stateEnum.Stopped">
  <h1 nz-typography style="color: #ee9643">Kana Study クラーケン</h1>
  <p nz-typography>
    Basic Japanese alphabet learning & revision application with some
    configuration. Configure and hit enter.
  </p>

  <!-- Alphabet Selection-->
  <nz-row>
    <label
      class="kanaMode"
      *ngFor="let kanaMode of _kanaModes | keyvalue"
      nz-checkbox
      [(ngModel)]="_kanaModes[kanaMode.key]"
      >{{ kanaMode.key }}</label
    >
  </nz-row>
  <!-- Learning Mode-->
  <nz-row>
    <label class="kanaMode" nz-checkbox [(ngModel)]="_cheats"
      >Learning Mode (Display Answers)
    </label>
  </nz-row>
  <!-- Test Size Slider -->
  <nz-row>
    <nz-col nzSpan="2">
      <span>Test size</span>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-slider [nzMin]="5" [nzMax]="50" [(ngModel)]="_kanaCount"></nz-slider>
    </nz-col>
    <nz-col nzSpan="3">
      <nz-input-number
        [nzMin]="5"
        [nzMax]="50"
        [ngStyle]="{ marginLeft: '16px' }"
        [(ngModel)]="_kanaCount"
      ></nz-input-number>
    </nz-col>
  </nz-row>

  <h1 nz-typography>Press Enter to Start</h1>
  <nz-divider></nz-divider>
</article>
<!-- Display during gameplay -->
<article nz-typography *ngIf="state == stateEnum.Started" class="kanaGame">
  <nz-row style="align-items: center">
    <h1 class="gameTimer" nz-typography>{{ timer.toFixed(2) }}</h1>
  </nz-row>
  <h1 class="gameChar">{{ randomKana.character }}</h1>
  <h1 class="gameInput">{{ roman }}</h1>
  <h1 class="gameCheat" *ngIf="_cheats">{{ randomKana.romanization }}</h1>
  <h1 class="gameCount">{{ score }}</h1>
</article>

<article *ngIf="state == stateEnum.Ended" class="results">
  <h1 nz-typography>Results</h1>
  <h3 nz-typography>Average Time: {{ avgTime.toFixed(3) }}s per Kana</h3>
  <nz-row>
    <nz-col class="resultCard" *ngFor="let time of kanaTimes">
      <nz-card nzHoverable>
        <h1 class="kanaSymbol">{{ time.character.character }}</h1>
        <nz-card-meta
          class="kanaResult"
          nzTitle="{{ time.character.romanization }}"
          nzDescription="Time: {{ time.time }}s"
        ></nz-card-meta>
      </nz-card>
    </nz-col>
  </nz-row>
</article>
