<!-- Initial state & after game restart (configuration) -->
<article nz-typography *ngIf="state == stateEnum.Stopped">
  <h1 nz-typography>Kana Study</h1>
  <p nz-typography>'Description Here'</p>

  <!-- Alphabet Selection-->
  <nz-row>
    <label
      class="kanaMode"
      *ngFor="let kanaMode of _kanaModes | keyvalue"
      nz-checkbox
      [(ngModel)]="_kanaModes[kanaMode.key]"
      >{{ kanaMode.key }}</label
    >
  </nz-row>
  <!-- Test Size Slider -->
  <nz-row>
    <nz-col nzSpan="2">
      <span>Test size</span>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-slider [nzMin]="5" [nzMax]="50" [(ngModel)]="_kanaCount"></nz-slider>
    </nz-col>
    <nz-col nzSpan="3">
      <nz-input-number
        [nzMin]="5"
        [nzMax]="50"
        [ngStyle]="{ marginLeft: '16px' }"
        [(ngModel)]="_kanaCount"
      ></nz-input-number>
    </nz-col>
  </nz-row>

  <h1 nz-typography>Press Enter to Start</h1>
  <nz-divider></nz-divider>
</article>
<!-- Display during gameplay -->
<article nz-typography *ngIf="state == stateEnum.Started" class="kanaField">
  <nz-row>
    <h1 nz-typography>{{ timer.toFixed(2) }}</h1>
  </nz-row>
  <h1 class="character">{{ randomKana.character }}</h1>
  <h1 class="textInput">{{ roman }}</h1>
  <h1 class="cheatDisplay" *ngIf="_cheats">{{ randomKana.romanization }}</h1>
  <h1 class="score">{{ score }}</h1>
</article>

<!-- Results output display - End of the game -->
<article *ngIf="state == stateEnum.Ended" class="results">
  <h1 class="title">Results</h1>
  <h2>Average Time: {{ avgTime.toFixed(3) }}s per Kana</h2>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="4" *ngFor="let time of kanaTimes">
      <nz-card nzHoverable [nzCover]="coverTemplate">
        <nz-card-meta
          nzTitle="{{ time.character.romanization }}"
          nzDescription="Time: {{ time.time }}s"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <h1 class="kanaSymbol">{{ time.character.character }}</h1>
      </ng-template>
    </div>
  </div>
</article>
